.Reasons{
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
}

.left-r{
    flex: 1 1;
    display: flex;
    width: 20rem;
    gap: 1rem;
    border: 2px solid white;
    padding: 1rem;
}

.left-i>img{
    object-fit: cover;
    width: 16rem;
    height: 30rem;
}

.right-i{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-i>img{
    width: 27rem;
    height: 18rem;
}

.right-i-b{
    display: flex;
    gap: 1rem;
}

.right-i-b>:nth-child(1){
    width: 13rem;
    height: 11rem;
}

.right-i-b>:nth-child(2){
    width: 13rem;
    height: 11rem;
}


.right-r{
    flex: 1 1;
    text-transform: uppercase;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.right-r>span{
    font-weight: bold;
    color: var(--orange);
}

.right-r>div{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.details-r{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details-r>div{
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
}

.details-r>div>img{
    width: 2rem;
    height: 2rem;
}

.partners{
    display: flex;
    gap: 1rem;
}

.partners>img{
    width: 3rem;
}

.partners>:nth-child(3)
{
    width: 6rem;
}